footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}


.logo-manual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.logo-manual h1 {
  color: rgb(51, 17, 82);
  font-size: 4.5rem;
}

.logo-manual p {
  font-size: 1.2rem;
  color: rgb(51, 17, 82);
}

.logo-manual p::after {
  content: "";
  position: absolute;
  width: 15px;
  margin-left: 5px;
  margin-top: 10px;
  height: 2px;
  background-color: rgb(51, 17, 82);
}

.logo-manual p::before {
  content: "";
  position: absolute;
  width: 15px;
  left: 3px;
  bottom: 50px;
  height: 2px;
  background-color: rgb(51, 17, 82);
}

.logo-manual a {
  margin-top: 10px;
  color: white;
  background-color: rgb(112, 63, 158);
  width: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 2px;
  display: flex;
  height: 30px;
  border-radius: 4px;
}

.logo-texto {
  margin-left: 50px;
}


.logo-texto p {
  display: flex;
  flex-wrap: wrap;
  color: #5C5C5C;
}

@media(max-width:800px) {
  .logo-manual h1 {
    font-size: 3.5rem;
  }

  .logo-manual a {
    width: 150px;
  }

  .logo-manual p {
    font-size: 1rem;
    margin-left: 10px;
  }

  .logo-manual p::before {
    left: 0px;
  }
}

@media(min-width:1942px) {
  footer {
    position: absolute;
    width: calc(100% + 100px);
  }
}